.cover__link {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(397px, auto) 1fr;
  justify-items: center;
  position: relative;
  text-decoration-line: none;
}

.cover__link:hover .cover__overlay {
  cursor: pointer;
  opacity: 0.8;
}

@media (max-width: 1279px) {
  .cover__link {
    grid-template-rows: minmax(347px, auto);
  }
}

@media (max-width: 1023px) {
  .cover__link {
    grid-template-rows: minmax(267px, auto);
  }
}

@media (max-width: 767px) {
  .cover__link {
    grid-template-rows: minmax(103px, auto);
  }
}
