.lang-links__link {
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  text-align: right;
  text-decoration: none;
}

.lang-links__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .lang-links__link {
    font-size: 18px;
    line-height: 1.11;
  }
}
