.place {
  column-gap: 40px;
  display: grid;
  grid-template-areas: "title website" "image paragraphs";
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr max-content;
  row-gap: 48px;
}

@media (max-width: 1279px) {
  .place {
    column-gap: 32px;
  }
}

@media (max-width: 1023px) {
  .place {
    column-gap: 28px;
  }
}

@media (max-width: 767px) {
  .place {
    gap: 0;
    grid-template-areas: "title" "website" "image" "paragraphs";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
  }
}
