.place__website {
  align-self: end;
  grid-area: website;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .place__website {
    align-self: start;
    padding: 32px 16px 0;
  }
}
